/* Enough progress for today, time to sleep */
body {
    font-family: monospace;
    font-size: larger;
}

.logo {
    background-image: white url('images/logo.png') no-repeat;
}

.header-wrapper {
    margin: 4% 12%;
    text-align: center;
}

.footer-wrapper {
    margin: 2% 15%;

}

.footer-links {
    margin: 0 15%;
}

.sitemap {
    margin: 0 15%;
    
}

.footer-info {
    margin: 0 15%;
}

.content-header {
    text-align: center;
}

.content {
    margin: 4% 12%;
}

.credentials {
    text-align: center;
}

.circle-image {
    border: 1px darkgray solid;
    border-radius: 50%;
    /* add shadow */
}

.form-title {
    margin: 10px 0 0 25px;
    padding: 3px 3px 3px 7px;
    border: solid 1px gray;
}

.form-title:focus {
    border-left: solid 3px green;
}

.form-text {
    margin: 10px 0 0 25px;
    padding: 3px 3px 3px 7px;
}

.form-text:focus {
    border-left: solid 3px green;
}

.form-button {
    margin: 10px 0 0 25px;
    padding: 5px 25px;
}

/* Grind container experiment */
.grid-container {
    display: grid;
    grid-gap: 50px 100px;
}

.grid-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2 5;
}

.grid-title {
    grid-row: 1 2;
    grid-column: 1 4;
}

.grid-desc {
    grid-row: 2 5;
    grid-column: 2 4;
}

