/* Enough progress for today, time to sleep */
body {
    font-family: monospace;
    font-size: larger;
}

.logo {
    background-image: white url('images/logo.png') no-repeat;
}

.header-wrapper {
    margin: 4% 12%;
    text-align: center;
}

.content-header {
    text-align: center;
}

.content {
    margin: 4% 12%;
}

.credentials {
    text-align: center;
}

.circle-image {
    border: 1px darkgray solid;
    border-radius: 50%;
    /* add shadow */
}