{% extends 'web/base.html' %}

{% block header %}
    <h1>About me</h1>
    <h3>Everything you need to know about this humble developer.</h3>
{% endblock %}

{% block content %}
    <p>I write code : )</p>
    <p>beep beep boo... *poof* </p>
    <p><a href="https://blog-val.herokuapp.com/" target="_blank">A WEBSITE!</a></p>

    <h2>Valentin Mirchev</h2>
    <a href="https://github.com/val-h" target="_blank">
        <img class="circle-image" src="https://avatars1.githubusercontent.com/u/59520085?s=460&u=e0fcff626aa348e4ce29441a19eba8e4e2bd1511&v=4" alt="">
    </a>
{% endblock %}
