<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Portfolio</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}">
    </head>
    <body>
        <div class="header-wrapper">
            <!-- will include a paralax image slide -->
            <header>
                <a href="{% url 'web:index' %}">
                    <img src="{% static 'web/images/logo_cropped.png' %}" alt="Logo">
                </a>
            </header>

            <nav>
                <a href="{% url 'web:index' %}">Home</a>
                <a href="{% url 'web:projects' %}">Projects</a>
                <a href="{% url 'web:about_me' %}">About me</a>
                <a href="{% url 'web:contact' %}">Contact</a>
            </nav>
        </div>

        <main>
            <div class="content-header">
                {% block header %}{% endblock %}
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </main>

        <footer>
            <div class="footer-wrapper">
                <div class="footer-links">
                    <p>Social Media Links</p>
                </div>
                <div class="sitemap">
                    <p>Sitemap</p>
                </div>
                <div class="footer-info">
                    <p>Short info</p>
                </div>
            </div>

            <div class="credentials">
                © Valentin Mirchev 2020
            </div>
        </footer>
    </body>
</html>
