{% extends 'web/base.html' %}

{% block header %}
    <h1>My Projects</h1>
    <h3>Created with passion!</h3>
{% endblock %}

{% block content %}
    <!-- Sample projects build -->
    <div class="project">
        {% for project in projects %}
            <!-- <a href="{% url 'web:project' {{ project.name }} %}"> -->
                <h2>{{ project.name }}</h2>
            <!-- </a> -->
            <p>{{ project.desc }}</p>
            <!-- Image problems : | -->
            <!-- FIXED!, somewhat : D -->
            <img src="{{ project.cover.url }}" alt="{{ project.cover.url }}">
        {% empty %}
            <h2>Too bad, so sad! No projects : (</h2>
        {% endfor %}
    </div>
{% endblock %}
